@CHARSET "UTF-8";
#show_tabs, #hide_tabs { 
	list-style-type: none; 
	margin: 0; 
	padding: 0 0 2.5em; 
	float: left; 
	margin-right: 10px;
    overflow-y: scroll;
    height: 100px;
}
#show_tabs li, #hide_tabs li { 
	margin: 0 5px 5px 5px; 
	padding: 5px; 
	font-size: 0.8em; 
	width: 80px;
}

.fieldset-auto-height {
	display: inline-block;
    height: 150px;
}